/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwOIpWqZPBQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwPIsWqZPBQ.ttf) format('truetype');
}
html {
  font-size: 62.5%;
}
body {
  background: #fff;
}
.container {
  width: 50%;
  margin: 0 auto;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10rem;
  padding-top: 3rem;
  font-family: "Raleway", sans-serif;
}
.navbar__link {
  color: #000;
  font-size: 2rem;
  text-decoration: none;
}
.navbar__link:not(:last-child) {
  margin-right: 4rem;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10rem;
  font-family: "Raleway", sans-serif;
}
.header__img {
  background: url("https://picsum.photos/300") no-repeat center center;
  background-size: cover;
  height: 20rem;
  width: 20rem;
  border-radius: 20rem;
}
.header__copy {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 60%;
}
.header__copy--name {
  margin-bottom: 2rem;
  font-size: 5rem;
}
.header__copy--tagline {
  font-size: 1.6rem;
  line-height: 1.7;
}
.summary {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10rem;
  font-size: 2rem;
  line-height: 2;
}
.summary__col {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.history {
  margin-bottom: 10rem;
}
.history__title {
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
}
.history__job {
  padding: 2rem 0;
  margin-top: 2rem;
  border-bottom: 1px solid black;
}
.history__job--company {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
}
.history__job--desc {
  font-size: 1.6rem;
  line-height: 1.7;
}
.edu {
  margin-bottom: 10rem;
}
.edu__title {
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
}
.edu__place {
  padding: 2rem 0;
  margin-top: 2rem;
  border-bottom: 1px solid black;
}
.edu__place--name {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
}
.edu__place--desc {
  font-size: 1.6rem;
  line-height: 1.7;
}
